<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Forecasting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
        }

        .login {
            max-width: 500px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        h1 {
            text-align: center;
            color: #007bff;
        }

        form {
            margin-top: 20px;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            margin-bottom: 15px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        h2 {
            margin-top: 20px;
            font-size: 18px;
            color: #007bff;
        }
    </style>
</head>
<body>
    
    <div class="login">
        <h1>Sales Forecasting</h1>

        <form action="{{ url_for('predict_datapoint')}}" method="post">

            <!-- Fields and dropdown options for Churn Classification -->
            <div class="mb-3">
                <label class="form-label">Order ID</label>
                <input class="form-control" name="Order ID" 
                    placeholder="Enter your Order ID"  />
            </div>

            <div class="mb-3">
                <label class="form-label">Order Date</label>
                <input class="form-control" name="Order Date" 
                    placeholder="Enter your Order Date in DD/MM/YYYY "  />
            </div>

            <div class="mb-3">
                <label class="form-label">Ship Date</label>
                <input class="form-control" name="Ship Date" 
                    placeholder="Enter your Ship Date in DD/MM/YYYY "  />
            </div>

            <div class="mb-3">
                <label class="form-label">Ship Mode</label>
                <select class="form-control" name="Ship Mode" required>
                    <option value="Second Class">Second Class</option>
                    <option value="Standard Class">Standard Class</option>
                    <option value="First Class">First Class</option>
                    <option value="Same Day">Same Day</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Customer ID</label>
                <input class="form-control" name="Customer ID" 
                    placeholder="Enter your Customer ID"  />
            </div>

            <div class="mb-3">
                <label class="form-label">Customer Name</label>
                <input class="form-control" name="Customer Name" 
                    placeholder="Enter your Customer Name"  />
            </div>

            <div class="mb-3">
                <label class="form-label">Segment</label>
                <select class="form-control" name="Segment" required>
                    <option value="Consumer">Consumer</option>
                    <option value="Corporate">Corporate</option>
                    <option value="Home Office">Home Office</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Country</label>
                <select class="form-control" name="Country" required>
                    <option value="United States">United States</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">City</label>
                <input class="form-control" name="City" 
                    placeholder="Enter your City"  />
            </div>

            <div class="mb-3">
                <label class="form-label">State</label>
                <input class="form-control" name="State" 
                    placeholder="Enter your State"  />
            </div>

            <div class="mb-3">
                <label class="form-label">Postal Code</label>
                <input class="form-control" name="Postal Code" 
                    placeholder="Enter your Postal Code"  />
            </div>

            <div class="mb-3">
                <label class="form-label">Region</label>
                <select class="form-control" name="Region" required>
                    <option value="South">South</option>
                    <option value="West">West</option>
                    <option value="Central">Central</option>
                    <option value="East">East</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Product ID</label>
                <input class="form-control" name="Product ID" 
                    placeholder="Enter your Product ID"  />
            </div>

            <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-control" name="Category" required>
                    <option value="Furniture">Furniture</option>
                    <option value="Office Supplies">Office Supplies</option>
                    <option value="Technology">Technology</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Sub Category</label>
                <select class="form-control" name="Sub-Category" required>
                    <option value="Bookcases">Bookcases</option>
                    <option value="Chairs">Chairs</option>
                    <option value="Labels">Labels</option>
                    <option value="Tables">Tables</option>
                    <option value="Storage">Storage</option>
                    <option value="Furnishings">Furnishings</option>
                    <option value="Art">Art</option>
                    <option value="Phones">Phones</option>
                    <option value="Binders">Binders</option>
                    <option value="Appliances">Appliances</option>
                    <option value="Paper">Paper</option>
                    <option value="Envelopes">Envelopes</option>
                    <option value="Fasteners">Fasteners</option>
                    <option value="Supplies">Supplies</option>
                    <option value="Machines">Machines</option>
                    <option value="Copiers">Copiers</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input class="form-control" name="Product Name" 
                    placeholder="Enter your Product Name"  />
            </div>

            <!-- For demonstration, display the prediction result -->
            <h2>
                THE prediction is {{results}}
            </h2>

            <!-- Submit button -->
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Predict Sales" required />
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>